/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif; /* Fuente de Google */
  background-color: #1C1D24; /* Color de fondo */
  color: #FFFFFF; /* Color del texto */
  display: flex;
  justify-content: space-between;
  padding: 20px; /* Espacio alrededor del juego */
}

/* Estilos del tablero */
.game-board {
  width: 5cm; /* Ancho del tablero */
}

.board-row {
  display: flex;
}

.square {
  font-size: 24px;
  font-weight: bold;
  width: 2cm; /* Ancho de cada casilla */
  height: 2cm; /* Altura de cada casilla */
  margin: 2px; /* Margen entre las casillas */
  background-color: #534674; /* Color de fondo de las casillas */
  color: #FFFFFF; /* Color del texto en las casillas */
  border: none;
  cursor: pointer;
}

/* Estilos de la información del juego */
.game-info {
  width: 3cm; /* Ancho de la información */
}

/* Estilos del texto "Next player" */
.status {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Estilos del texto de los botones */
.game-info ol {
  list-style-type: none;
  padding: 0;
}

.game-info ol li {
  margin-bottom: 5px;
}

.game-info ol li button {
  background-color: #8612FA; /* Color de fondo de los botones */
  color: #FFFFFF; /* Color del texto de los botones */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.game-info ol li button:hover {
  background-color: #A642D8; /* Cambio de color al pasar el ratón */
}