body {
  font-family: 'Roboto', sans-serif; 
  background-color: #1C1D24; 
  color: #FFFFFF;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  margin: 0; 
}

.game {
  width: 90%; 
  max-width: 500px; 
}

.game-board {
  width: 100%; 
}

.board-row {
  display: flex;
}

.square {
  font-size: 24px;
  font-weight: bold;
  width: 2cm; 
  height: 2cm; 
  margin: 2px;
  background-color: #534674; 
  color: #FFFFFF; 
  border: none;
  cursor: pointer;
}

.game-info {
  width: 100%; 
}

.status {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.game-info ol {
  list-style-type: none;
  padding: 0;
}

.game-info ol li {
  margin-bottom: 5px;
  text-align: center; 
}

.game-info ol li button {
  background-color: #8612FA; 
  color: #FFFFFF; 
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.game-info ol li button:hover {
  background-color: #A642D8; 
}
